/** Base Body Styles **/
body{
	 /* background: url(../../img/body-bg.png); */
	 /* font: 13px/1.7em 'Open Sans'; */
	background: url(/darkbg.jpg) no-repeat center center fixed;
	/* background-size: cover; */
	 height: 100vh;
	 /* background: url(/back.jpg) no-repeat ; */
	 /* background: -webkit-linear-gradient(360deg,#444141 10%,#363636 360%);
	 background: linear-gradient(360deg,#030303 10%,#3a3838 360%);  */
	/* width: 100vh; */
	/* background-attachment: fixed;
	 background-repeat: no-repeat;
	 background-size: 100% 100%;
	 background-position: center; */
	 background-size: cover;
	 -webkit-background-size:cover;
	 -moz-background-size:cover;
	-o-backgrouond-size:cover;
	 display: cover;
	 margin: 0;
	  /* color:#838383;  */
}

.navbar
{
	background-color: #030303;

}

/*  signup code */
.signupBox
{
	transform: translate(410px,-180px);
	/* border: 1px solid #2196f3; */
}

.signupBox { 
  margin: 150px auto 0; 
  padding: 0; 
  list-style: none; 
  display: table;
  width: 400px;
  text-align: center;
}
.i { 
  display: table-cell; 
  position: relative; 
  padding: 15px 0;
}
a.link {
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.15em;
  
  display: inline-block;
  padding: 15px 10px;
  position: relative;
}
a.link:after {    
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #ff7f74;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
a.link:hover:after { 
  width: 100%; 
  left: 0; 
}
@media screen and (max-height: 300px) {
	ul {
		margin-top: 40px;
	}
}



:hover.signup 
{
	background-color: #2196f3;
	color: #031321;
	box-shadow: 0 0 20px #2196f3, 0 0 90px #2196f3;
	transition: 0s;
}

.blackbox
{
	position: absolute;
	background-color: #172116;
	/* background-color: white; */
	width: 200px;
	height: 250px;
	transform: translate(45px,325px);
}

/* Login Box CSS Code */

.account-container {
	width: 380px; 
	display: inline-block;
	/* margin: 60px auto 0 auto; */
	/* height: 65vh; */
	height: 410px;
	/* padding: 100px; */
	/* background: #f9f9f9; */
	/* float: right; */
	border: 1px solid #2196f3;
	/* opacity: 0.6 */

	transform:translate(835px,130px);
	/* transform:translateY(100px); */
	
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 15px;

	box-shadow:8px 10px 10px #2196f3;
}

.loginbtn
{
	font-size: 15px;
	background-color: #031321;
	color: #2196f3;
	/* border: 1px solid #031321; */
}

input:hover.loginbtn
{
	background-color:#2196f3;
	color: #031321;
	transition: 0s;
}

.neon_heading
{
	position: absolute;
	top: 5%;
	left: 5%;
	/* transform: translate(-50%,-50%); */
	margin: 0;
	padding: 0 10px;
	font-size:10px;
	color: #fff;

}

a.neon
{
	/*margin: 0;
    padding: 0;
     display: flex;
    justify-content: center;
    align-items: center;
	position: relative;
    display: inline-block;
    padding: 15px 30px;
	float: right;
    min-height: 100vh; */
    background: #031321;
	padding-top: 15px;
	padding-bottom: 10px;
	padding-right: 50px;
	text-decoration: none;
	float: right;

}

a.neon {
	border: 1px solid #2196f3;
	border-radius: 2px;
	/* border-radius: 18px; */
	position: relative;
    display: inline-block;
    padding: 15px 30px;
    color: #2196f3;
    text-transform: uppercase;
    letter-spacing: 4px;
    text-decoration: none;
    transition: 0.2s;
}

a:hover.neon{
    	color: #255784;
    	background: #2196f3;
    	box-shadow: 0 0 10px #2196f3, 0 0 80px #2196f3;
    	transition-delay: 0s;
		/* text-decoration: none; */
}


.content {
	padding: 16px 28px 23px;
	background: #031321;
	height: 62vh;
	border-radius: 10px;
	border: 1px solid #2196f3;
} 

.login-fields {
	
}

.field{
	padding: 15px;
}

.login-fields .field {
	margin-bottom: 1.25em;
}

.login-fields label {
	display: none;
}

.login-fields input {
	font-family: 'Open Sans';
	font-weight: bold;
	font-size: 18x;
	/* color: #8e8d8d; */
	color: #2196f3;
	padding: 11px 15px 10px 50px;
	/* background-color: #fdfdfd; */
	background-color:#031321;
	width: 255px;
	height: 35px;
	display: block;
	margin: 0;
	/* box-shadow: inset 2px 2px 4px #f1f1f1; */

}
 

.username-field { background: url(/images/login/user.png) no-repeat; }

.password-field { background: url(/images/login/password.png) no-repeat; }




.login-actions {
	float: left;
	
	width: 100%;
	
	margin-top: -1em;
	margin-bottom: 1.25em;
}

.login-social {
	float: left;
	
	padding: 10px 0 15px;
	
	border: 1px dotted #CCC;
	border-right: none;
	border-left: none;	
}

span.login-checkbox {
	float: left;
	margin-top: 31px;
}

span.login-checkbox > input[type='checkbox'] {
    opacity: 0;
    float: left;
    width: 15px;
}

span.login-checkbox > input[type='checkbox'] + label {    
    clear: none;
    
	height: 15px; 
	display: block;
    padding: 0 0 0 22px;
    margin: 0;
    
    font-size: 12px;
    line-height: 1.2em;
    
    background: url(../../img/signin/check.png) no-repeat 0 0;
    
    cursor: pointer;
}

span.login-checkbox > input[type='checkbox']:checked + label {	
	background-position: 0 -15px;
}

/** Text Under Box**/
.login-extra {
	display: block; 
	width: 300px; 
	margin: 1.5em auto;
	 
	text-align: left;
	line-height: 19px; 
	
	text-shadow: 1px 1px 0px #fff; 	
}


.account-container h1 {
	margin-bottom: .4em;
	
	color: #525252;
}

/** Buttons **/
.twitter, .fb {
	position: relative;
	
	height: 32px; 
	width: 157px; 
	display: block;
	
	background: url(../../img/signin/twitter_btn.png) no-repeat; 
	
}

.fb {
	width: 162px; 
	
	background: url(../../img/signin/fb_btn.png) no-repeat; 	
}

.twitter:active, .fb:active {
	top: 1px;
}

.twitter:hover, .fb:hover {
	background-position: 0 -32px;
}

.twitter a, .fb a {
	padding: 5px 0 0 35px; 
	text-shadow: -1px -1px 0px rgba(0,0,0,.3); 
	color:#fff; 
	font-weight: bold; 
	font-size: 11px; 
	height: 32px; 
	display: block;	
}

.fb a {
	padding: 5px 0 0 31px; 
	
}

.twitter, .fb {
	display: inline-block;
}

.twitter a:hover, .fb a:hover {
	color: #FFF;
	text-decoration: none;
}

.button {-webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; display: inline-block; float: right; margin-top: 18px;}






.register .login-social {
	margin-bottom: 1em;
}

.register .login-actions {
	margin-bottom: 0;
}

.register .login-fields input {
	width: 299px;
	padding-left: 6px;
}

.register h1 {
	color: #444;
}

.register span.login-checkbox {
	position: relative;
	top: -6px;
	
	width: 200px;
}

.register span.login-checkbox > input[type="checkbox"] + label {
	
	position: relative;
	
	line-height: 1.3em;
}



@media (max-width: 480px) {
	
	.account-container {
		width: 280px;	
		margin-top: 35px;
	}
	
	.login-fields input {
		width: 160px;
	}
	
	.login-social {
		width: 100%;
	}
	
	.twitter {
		display: block;
		margin-bottom: 1em;
	}
	
	.register .login-fields input {
		width: 204px;
		padding-left: 6px;
	}
	
}